<h2 class="text-center mt-4">Summarize any text with a click of a button
</h2>
<p class="text-center"> QuillBot's Summarizer can condense articles, papers, or documents down to the key points
     instantly. Our AI uses natural language processing to locate critical information while
      maintaining the original context.</p>
      <table class="mt-4 table table-striped table-dark">
        <tbody>
          <tr>
            <th scope="row">AI-Powered</th>
            <td>Quickly extracts key points</td>
          </tr>
          <tr>
            <th scope="row">Summarizes</th>
            <td>Essays, papers & documents</td>
           
          </tr>
          <tr>
            <th scope="row">AI Models</th>
            <td>Bullet Points & Paragraph</td>
            
          </tr>
          <tr>
            <th scope="row">100% Free</th>
            <td>Unlimited summarization</td>
            
          </tr>
        </tbody>
      </table>