<doctype html>
    <html>
      <head>
        <style>
          .btn {
            padding: .55rem 1.5rem .45rem;
          }
        </style>
      </head>
      <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <!-- Container wrapper -->
          <div class="container-fluid">
            <!-- Navbar brand -->
            
  
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
              data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <i class="fas fa-bars text-light"></i>
            </button>
  
            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <!-- Left links -->
              <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
                <li class="nav-item text-center mx-2 mx-lg-1">
                  <a class="nav-link active" aria-current="page" href="#!">
                    <div>
                      
                      <span class="badge rounded-pill badge-notification bg-info">0</span>
                    </div>
                    Home
                  </a>
                </li>
                <li class="nav-item text-center mx-2 mx-lg-1">
                  <a class="nav-link active" href="#">
                    <div>
                      
                      <span class="badge rounded-pill badge-notification bg-warning">0</span>
                    </div>
                    Contact Us
                  </a>
                </li>
                <li class="nav-item text-center mx-2 mx-lg-1">
                  <a class="nav-link active" href="#">
                    <div>
                      
                      <span class="badge rounded-pill badge-notification bg-info">0</span>
                    </div>
                    Notifications
                  </a>
                </li>
                
                
              </ul>
              <!-- Left links -->
              <a class="text-center navbar-brand">Text Summarization</a>
              <!-- Right links -->
              
              <ul class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">
                <li class="nav-item text-center mx-2 mx-lg-1">
                  <a class="nav-link active" href="#!">
                    <div>
                      
                      <span class="badge rounded-pill badge-notification bg-warning">0</span>
                    </div>
                    Messages
                  </a>
                </li>
                <li class=" nav-item text-center mx-2 mx-lg-1">
                  <a class="nav-link active" href="{{url_for('logout')}}">
                    <div>
                      
                      <span class="badge rounded-pill badge-notification bg-info">*</span>
                    </div>
                    logout
                  </a>
                </li>
              </ul>
              <!-- Right links -->
  
              <!-- Search form -->
              <form class="d-flex input-group w-auto ms-lg-3 my-3 my-lg-0">
                <input type="search" class="form-control" placeholder="Search" aria-label="Search" />
                <button class="btn btn-primary" type="button" data-mdb-ripple-color="dark">
                  Search
                </button>
              </form>
            </div>
            <!-- Collapsible wrapper -->
          </div>
          <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
      </body>
    </html>
